<div
  style="
    position: absolute;
    left: 50%;
    margin-left: -306px;
    top: 0px;
    width: 612px;
    height: 792px;
    border-style: outset;
    overflow: hidden;
  "
  class="margin"
>
  <div style="position: absolute; left: 0px; top: 0px">
    <img src="/assets/b1.jpg" width="612" height="792" />
  </div>
  <div style="position: absolute; left: 24px; top: 19.43px" class="cls_002">
    <span class="cls_002">Rutvik Rajendra Deshmukh</span>
  </div>
  <div style="position: absolute; left: 24.92px; top: 47.78px" class="cls_003">
    <span class="cls_003">IT Student</span>
  </div>
  <div style="position: absolute; left: 24.92px; top: 70.41px" class="cls_004">
    <span class="cls_004"
      >Undergraduate student of information technology with experience working
      across the full-stack of</span
    >
  </div>
  <div style="position: absolute; left: 24.92px; top: 81.39px" class="cls_004">
    <span class="cls_004"
      >software development. I’ve built a few projects by myself and I’m looking
      for a role where I can grow and</span
    >
  </div>
  <div style="position: absolute; left: 24.92px; top: 92.36px" class="cls_004">
    <span class="cls_004">learn from other experienced team members.</span>
  </div>
  <div style="position: absolute; left: 43.89px; top: 128.25px" class="cls_004">
    <span class="cls_004"> </span
    ><A HREF="mailto:rutvik.deshmukh19@vit.edu">rutvik.deshmukh19@vit.edu</A>
  </div>
  <div
    style="position: absolute; left: 340.86px; top: 128.25px"
    class="cls_004"
  >
    <span class="cls_004">+919096758542</span>
  </div>
  <div style="position: absolute; left: 43.89px; top: 148.14px" class="cls_004">
    <span class="cls_004">Pune, India</span>
  </div>
  <div
    style="position: absolute; left: 340.86px; top: 148.14px"
    class="cls_004"
  >
    <span class="cls_004"> </span
    ><A HREF="https://www.linkedin.com/in/techknowledger/"
      >linkedin.com/in/techknowledger</A
    >
  </div>
  <div style="position: absolute; left: 43.89px; top: 168.03px" class="cls_004">
    <span class="cls_004"> </span
    ><A HREF="https://github.com/rutvikdeshmukh">github.com/rutvikdeshmukh</A>
  </div>
  <div style="position: absolute; left: 24.92px; top: 200.49px" class="cls_017">
    <span class="cls_017">EDUCATION</span>
  </div>
  <div
    style="position: absolute; left: 323.95px; top: 200.49px"
    class="cls_017"
  >
    <span class="cls_017">SKILLS</span>
  </div>
  <div style="position: absolute; left: 24.92px; top: 226.1px" class="cls_006">
    <span class="cls_006">B. Tech in Information Technology</span>
  </div>
  <div style="position: absolute; left: 330.8px; top: 232.96px" class="cls_004">
    <span class="cls_004">angular</span>
  </div>
  <div
    style="position: absolute; left: 382.01px; top: 232.96px"
    class="cls_004"
  >
    <span class="cls_004">JavaScript</span>
  </div>
  <div
    style="position: absolute; left: 443.97px; top: 232.96px"
    class="cls_004"
  >
    <span class="cls_004">Node.js</span>
  </div>
  <div
    style="position: absolute; left: 494.95px; top: 232.96px"
    class="cls_004"
  >
    <span class="cls_004">Express.js</span>
  </div>
  <div style="position: absolute; left: 24.92px; top: 239.82px" class="cls_007">
    <span class="cls_007">Vishwakarma Institute of Technology, Pune</span>
  </div>
  <div style="position: absolute; left: 24.92px; top: 257.19px" class="cls_008">
    <span class="cls_008">08/2019 - Present</span><span class="cls_009">,</span>
  </div>
  <div
    style="position: absolute; left: 270.68px; top: 257.19px"
    class="cls_008"
  >
    <span class="cls_008">8.85</span>
  </div>
  <div style="position: absolute; left: 330.8px; top: 254.68px" class="cls_004">
    <span class="cls_004">Mongoose ODM</span>
  </div>
  <div
    style="position: absolute; left: 417.22px; top: 254.68px"
    class="cls_004"
  >
    <span class="cls_004">MongoDB</span>
  </div>
  <div
    style="position: absolute; left: 478.49px; top: 254.68px"
    class="cls_004"
  >
    <span class="cls_004">Passport</span>
  </div>
  <div style="position: absolute; left: 330.8px; top: 276.39px" class="cls_004">
    <span class="cls_004">Passport-Local Mongoose</span>
  </div>
  <div
    style="position: absolute; left: 454.71px; top: 276.39px"
    class="cls_004"
  >
    <span class="cls_004">passport-local</span>
  </div>
  <div
    style="position: absolute; left: 531.76px; top: 276.39px"
    class="cls_004"
  >
    <span class="cls_004">multer</span>
  </div>
  <div style="position: absolute; left: 24.92px; top: 281.2px" class="cls_006">
    <span class="cls_006">Diploma in Computer Engineering</span>
  </div>
  <div style="position: absolute; left: 24.92px; top: 294.91px" class="cls_007">
    <span class="cls_007">Government Polytechnic, Amravati</span>
  </div>
  <div style="position: absolute; left: 330.8px; top: 298.11px" class="cls_004">
    <span class="cls_004">cloudinary</span>
  </div>
  <div
    style="position: absolute; left: 393.67px; top: 298.11px"
    class="cls_004"
  >
    <span class="cls_004">multer-storage-cloudinary</span>
  </div>
  <div
    style="position: absolute; left: 519.64px; top: 298.11px"
    class="cls_004"
  >
    <span class="cls_004">mapbox-sdk</span>
  </div>
  <div style="position: absolute; left: 24.92px; top: 312.29px" class="cls_008">
    <span class="cls_008">07/2016 - 06/2019</span><span class="cls_009">,</span>
  </div>
  <div
    style="position: absolute; left: 266.11px; top: 312.29px"
    class="cls_008"
  >
    <span class="cls_008">89.88</span>
  </div>
  <div style="position: absolute; left: 330.8px; top: 319.83px" class="cls_004">
    <span class="cls_004">mapboxgl</span>
  </div>
  <div
    style="position: absolute; left: 391.16px; top: 319.83px"
    class="cls_004"
  >
    <span class="cls_004">SQL</span>
  </div>
  <div
    style="position: absolute; left: 427.97px; top: 319.83px"
    class="cls_004"
  >
    <span class="cls_004">Git</span>
  </div>
  <div
    style="position: absolute; left: 460.43px; top: 319.83px"
    class="cls_004"
  >
    <span class="cls_004">HTML5</span>
  </div>
  <div style="position: absolute; left: 330.8px; top: 341.55px" class="cls_004">
    <span class="cls_004">Cascading Style Sheets (CSS)</span>
  </div>
  <div style="position: absolute; left: 24.92px; top: 345.89px" class="cls_017">
    <span class="cls_017">PERSONAL PROJECTS</span>
  </div>
  <div style="position: absolute; left: 330.8px; top: 363.27px" class="cls_004">
    <span class="cls_004">Embedded JavaScript (EJS)</span>
  </div>
  <div
    style="position: absolute; left: 460.89px; top: 363.27px"
    class="cls_004"
  >
    <span class="cls_004">Bootstrap</span>
  </div>
  <div
    style="position: absolute; left: 522.15px; top: 363.27px"
    class="cls_004"
  >
    <span class="cls_004">REST APIs</span>
  </div>
  <div style="position: absolute; left: 24.92px; top: 371.96px" class="cls_010">
    <span class="cls_010">College Information (06/2021 - 07/2021)</span>
  </div>
  <div style="position: absolute; left: 33.83px; top: 384.99px" class="cls_012">
    <span class="cls_012"
      >This Website shows information of top engineering colleges of</span
    >
  </div>
  <div style="position: absolute; left: 330.8px; top: 384.99px" class="cls_004">
    <span class="cls_004">RESTful WebServices</span>
  </div>
  <div style="position: absolute; left: 33.83px; top: 393.9px" class="cls_012">
    <span class="cls_012">Maharashtra.</span>
  </div>
  <div style="position: absolute; left: 33.83px; top: 405.79px" class="cls_013">
    <span class="cls_013">Technologies: </span
    ><span class="cls_012"
      >Node.js, Express.js, EJS, Mongoose ODM, MongoDB</span
    >
  </div>
  <div style="position: absolute; left: 330.8px; top: 406.7px" class="cls_004">
    <span class="cls_004">Database Management System (DBMS)</span>
  </div>
  <div style="position: absolute; left: 33.83px; top: 414.71px" class="cls_012">
    <span class="cls_012">Atlas,</span><span class="cls_013"> </span
    ><span class="cls_012">Bootstrap, Passport</span
    ><span class="cls_013">, </span
    ><span class="cls_012">Passport-Local Mongoose, passport-</span>
  </div>
  <div style="position: absolute; left: 33.83px; top: 423.62px" class="cls_012">
    <span class="cls_012"
      >local, multer, cloudinary, mapbox geocoding, mapboxgl map,</span
    >
  </div>
  <div style="position: absolute; left: 330.8px; top: 428.42px" class="cls_004">
    <span class="cls_004">Object-Oriented Programming (OOP)</span>
  </div>
  <div style="position: absolute; left: 33.83px; top: 432.54px" class="cls_012">
    <span class="cls_012"
      >mapboxgl cluster, connect-mongo, Unsplash Source.</span
    >
  </div>
  <div style="position: absolute; left: 33.83px; top: 444.43px" class="cls_013">
    <span class="cls_013">Key features:</span
    ><span class="cls_012"> Database</span><span class="cls_013"> </span
    ><span class="cls_012">Relationship Management, Authentication,</span>
  </div>
  <div style="position: absolute; left: 33.83px; top: 453.34px" class="cls_012">
    <span class="cls_012"
      >Authorization, cloud storage using cloudinary, mapboxgl map,</span
    >
  </div>
  <div style="position: absolute; left: 330.8px; top: 450.14px" class="cls_004">
    <span class="cls_004">C (Programming Language)</span>
  </div>
  <div
    style="position: absolute; left: 461.34px; top: 450.14px"
    class="cls_004"
  >
    <span class="cls_004">C++</span>
  </div>
  <div
    style="position: absolute; left: 497.46px; top: 450.14px"
    class="cls_004"
  >
    <span class="cls_004">Java</span>
  </div>
  <div style="position: absolute; left: 536.1px; top: 450.14px" class="cls_004">
    <span class="cls_004">PHP</span>
  </div>
  <div style="position: absolute; left: 33.83px; top: 462.26px" class="cls_012">
    <span class="cls_012"
      >mapboxgl cluster, storing user session information in database</span
    >
  </div>
  <div style="position: absolute; left: 33.83px; top: 471.17px" class="cls_012">
    <span class="cls_012">using connect-mongo.</span>
  </div>
  <div style="position: absolute; left: 330.8px; top: 471.86px" class="cls_004">
    <span class="cls_004">Cloud Computing</span>
  </div>
  <div
    style="position: absolute; left: 421.79px; top: 471.86px"
    class="cls_004"
  >
    <span class="cls_004">Avid Reader</span>
  </div>
  <div style="position: absolute; left: 24.92px; top: 488.55px" class="cls_010">
    <span class="cls_010">Indian Campgrounds (06/2021 - 07/2021)</span>
  </div>
  <div style="position: absolute; left: 33.83px; top: 501.58px" class="cls_012">
    <span class="cls_012"
      >This website shows information about top Indian camping places</span
    >
  </div>
  <div style="position: absolute; left: 33.83px; top: 510.5px" class="cls_012">
    <span class="cls_012">to visit.</span>
  </div>
  <div
    style="position: absolute; left: 323.95px; top: 510.27px"
    class="cls_017"
  >
    <span class="cls_017">ACHIE1EMENTS</span>
  </div>
  <div style="position: absolute; left: 33.83px; top: 522.38px" class="cls_013">
    <span class="cls_013">Technologies: </span
    ><span class="cls_012"
      >Node.js, Express.js, EJS, Mongoose ODM, MongoDB</span
    >
  </div>
  <div style="position: absolute; left: 33.83px; top: 531.3px" class="cls_012">
    <span class="cls_012">Atlas,</span><span class="cls_013"> </span
    ><span class="cls_012">Bootstrap, Passport</span
    ><span class="cls_013"> , </span
    ><span class="cls_012">Passport-Local Mongoose, passport-</span>
  </div>
  <div style="position: absolute; left: 33.83px; top: 540.22px" class="cls_012">
    <span class="cls_012"
      >local, multer, cloudinary, mapbox geocoding, mapboxgl map,</span
    >
  </div>
  <div
    style="position: absolute; left: 323.95px; top: 536.33px"
    class="cls_010"
  >
    <span class="cls_010"
      >Winner of Ideathon Hackathon (10/2020 - 12/2020)</span
    >
  </div>
  <div style="position: absolute; left: 33.83px; top: 549.13px" class="cls_012">
    <span class="cls_012"
      >mapboxgl cluster, connect-mongo, Unsplash Source.</span
    >
  </div>
  <div style="position: absolute; left: 323.95px; top: 548.9px" class="cls_014">
    <span class="cls_014">Received </span
    ><span class="cls_015">Funding of Rs. 50,000/-</span
    ><span class="cls_014"> for Our Innov tive Ide .</span>
  </div>
  <div style="position: absolute; left: 33.83px; top: 561.02px" class="cls_013">
    <span class="cls_013">Key features: </span
    ><span class="cls_012">Database</span><span class="cls_013"> </span
    ><span class="cls_012">Relationship Management, Authentication,</span>
  </div>
  <div style="position: absolute; left: 33.83px; top: 569.94px" class="cls_012">
    <span class="cls_012"
      >Authorization, cloud storage using cloudinary , mapboxgl map,</span
    >
  </div>
  <div
    style="position: absolute; left: 323.95px; top: 566.28px"
    class="cls_010"
  >
    <span class="cls_010"
      >Consolation PriFe Winner of Technovation Hackathon</span
    >
  </div>
  <div style="position: absolute; left: 33.83px; top: 578.85px" class="cls_012">
    <span class="cls_012"
      >mapboxgl cluster, storing user session information in database</span
    >
  </div>
  <div
    style="position: absolute; left: 323.95px; top: 577.25px"
    class="cls_010"
  >
    <span class="cls_010">Smart City (12/2020 - 01/2021)</span>
  </div>
  <div style="position: absolute; left: 33.83px; top: 587.77px" class="cls_012">
    <span class="cls_012">using connect-mongo.</span>
  </div>
  <div
    style="position: absolute; left: 323.95px; top: 589.82px"
    class="cls_014"
  >
    <span class="cls_014">Received </span
    ><span class="cls_015">Consolation Priz of 5000 Rs</span
    ><span class="cls_014">. for Our Innov tive Ide .</span>
  </div>
  <div style="position: absolute; left: 24.92px; top: 605.14px" class="cls_010">
    <span class="cls_010">Omnifood (03/2021 - 04/2021)</span>
  </div>
  <div style="position: absolute; left: 33.83px; top: 618.17px" class="cls_013">
    <span class="cls_013">New Premium Food Delivery Service Website.</span>
  </div>
  <div
    style="position: absolute; left: 323.95px; top: 619.54px"
    class="cls_017"
  >
    <span class="cls_017">INTERESTS</span>
  </div>
  <div style="position: absolute; left: 33.83px; top: 630.06px" class="cls_013">
    <span class="cls_013">Technologies: </span
    ><span class="cls_012">HTML, CSS, jQuery Plugins.</span>
  </div>
  <div style="position: absolute; left: 33.83px; top: 641.95px" class="cls_013">
    <span class="cls_013">It is a </span><span class="cls_012">Responsive</span
    ><span class="cls_013"> Website Made using </span
    ><span class="cls_012">Media Queries.</span>
  </div>
  <div style="position: absolute; left: 33.83px; top: 653.84px" class="cls_013">
    <span class="cls_013">Animation Effects Added using Various </span
    ><span class="cls_012">jQuery Plugins.</span>
  </div>
  <div
    style="position: absolute; left: 331.72px; top: 652.92px"
    class="cls_016"
  >
    <span class="cls_016">Reading</span>
  </div>
  <div
    style="position: absolute; left: 387.04px; top: 652.92px"
    class="cls_016"
  >
    <span class="cls_016">Technology Enthusiast</span>
  </div>
  <div
    style="position: absolute; left: 331.72px; top: 676.47px"
    class="cls_016"
  >
    <span class="cls_016">Full Stack Web Development</span>
  </div>
  <div style="position: absolute; left: 469.8px; top: 676.47px" class="cls_016">
    <span class="cls_016">Listening to Music</span>
  </div>
  <div
    style="position: absolute; left: 331.72px; top: 700.02px"
    class="cls_016"
  >
    <span class="cls_016">Love to Teach</span>
  </div>
</div>
